* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px;
}

div, p {
    margin: 20px;
}

div {
    width: 200px;
}
div img {
    width: 100%;
}